@charset "utf-8";

.balloon {
    position: relative;
}

.balloon {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    &__module {}

    &__ball {
        display: block;
        width: 100px;
        height: 100px;
    }
}