@charset "utf-8";

$breakpoints: (
    "tablet": "screen and (min-width: 640px)",
    "desktop": "screen and (min-width: 800px)",
    "full": "screen and (min-width: 1200px)",
    ) !default;

@mixin mix-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin mix-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: $j;
    align-items: $a;
}

@mixin mix-inner($w: 90%, $mw: 1200px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    height: auto;
}

.firstView {
    @include mix-inner(
);
height: 100vh;
padding-top: 50vh;

&__title {
    font-size: 30px;
    text-align: center;
}
}

.scroll {
    @include mix-inner();
    height: 400vh;

    &__title {
        font-size: 35px;
        font-weight: bold;
    }

    &__wrap {
        overflow: hidden;
        position: sticky;
        top: 0;
        left: 0;
        height: 100vh;
    }

    &__horizontal {
        @include mix-flex();
        height: 100%;
        width: 400vw;
    }

    &__item {
        min-width: 50vw;
    }

    &__img {
        width: 100%;
    }
}