@charset "utf-8";

body {}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.firstView {

    height: 100vh;

    &__title {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        padding-top: 50vh;
    }
}

.works {
    background: linear-gradient(#93FFFF, #DBFFFF);
    height: 100vh;

    &__container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    &__post {}
}


// .scrollStop {
//     overflow-y: hidden;
// }

// .scrollStart {
//     overflow-y: auto;
// }