@charset "utf-8";

body {}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.firstView {

    height: 100vh;

    &__title {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        padding-top: 50vh;
    }
}

.works {
    position: relative;

    &__bg {
        font-size: 200px;
        display: block;
        height: 100vh;
        background: linear-gradient(#93FFFF, #DBFFFF);
        position: sticky;
        top: 0;
        left: 0;

        z-index: -1;
    }

    &__container {
        margin-top: -100vh;

    }
}