@charset "utf-8";

.balloon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;

    transform: translate(-50%, -50%);

    &__module {
        position: relative;
        left: 0;

        &:nth-child(2) {
            left: 70px;
        }

        &:nth-child(3) {
            top: -250px;
            left: 100px;
        }
    }

    &__ball {
        display: block;
        width: 100px;
        height: 100px;
    }

    &__title {
        font-size: 45px;
        text-align: center;
        font-weight: bold;
    }
}